In [1]:
import pandas as pd
import numpy as np
import csv

In [43]:
data = {"Отделение": [26, 26, 26],
        "Дата": ["01 Февраль 2019", "01 Февраль 2019", "01 Февраль 2019"],
        "Номер клиента": [1,2,3],
        "Время выдачи":["08:00:00", "08:00:00", "08:00:00"],
        "Время вызова":["08:01:49", "08:00:49", "08:01:10"],
        "Время завершения":["08:41:46", "08:02:23", "08:22:03"],
        "Длительность ожидания":["00:01:49", "00:00:49", "00:01:10"],
        "Длительность обслуживания":["00:39:57", "00:02:34", "00:20:53"],
        "Длительность нахождения в очереди":["00:41:46", "00:02:23", "00:22:03"],
        "Услуга": ["Подача документов физического лица", "Подача документов юридического лица", "Получение документов юридического лица"],
        "Оператор": ["Tula_26_1","Tula_26_10","Tula_26_5"],
        "Точка обслуживания": ["Tula_26_1","Tula_26_10","Tula_26_5"],
        "Последнее событие": ["Завершен","Не подтвержден", "Удален"],
        "Категория": [1, 2, 5],
        "Категория каждый день": [1, 2, 5]}

In [44]:
df = pd.DataFrame.from_dict(data)

In [45]:
df

,Отделение,Дата,Номер клиента,Время выдачи,Время вызова,Время завершения,Длительность ожидания,Длительность обслуживания,Длительность нахождения в очереди,Услуга,Оператор,Точка обслуживания,Последнее событие,Категория,Категория каждый день
0,26,01 Февраль 2019,1,08:00:00,08:01:49,08:41:46,00:01:49,00:39:57,00:41:46,Подача документов физического лица,Tula_26_1,Tula_26_1,Завершен,1,1
1,26,01 Февраль 2019,2,08:00:00,08:00:49,08:02:23,00:00:49,00:02:34,00:02:23,Подача документов юридического лица,Tula_26_10,Tula_26_10,Не подтвержден,2,2
2,26,01 Февраль 2019,3,08:00:00,08:01:10,08:22:03,00:01:10,00:20:53,00:22:03,Получение документов юридического лица,Tula_26_5,Tula_26_5,Удален,5,5

In [49]:
def ChangeDateFormat(name):
    
    months = ("Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь")
    day, mon, year = name.split(" ")
    if mon not in months:
        print("mon = ", mon)
    else:
        mon = months.index(mon)+1
    
    return f"{day}-0{mon}-{year}" if int(mon) < 10 else f"{day}-{mon}-{year}"

In [50]:
df["Дата"] = df["Дата"].apply(ChangeDateFormat)

In [62]:
df["Дата"] = pd.to_datetime(df["Дата"])

In [63]:
df

,Отделение,Дата,Номер клиента,Время выдачи,Время вызова,Время завершения,Длительность ожидания,Длительность обслуживания,Длительность нахождения в очереди,Услуга,Оператор,Точка обслуживания,Последнее событие,Категория,Категория каждый день
0,26,2019-01-02,1,08:00:00,08:01:49,08:41:46,00:01:49,00:39:57,00:41:46,Подача документов физического лица,Tula_26_1,Tula_26_1,Завершен,1,1
1,26,2019-01-02,2,08:00:00,08:00:49,08:02:23,00:00:49,00:02:34,00:02:23,Подача документов юридического лица,Tula_26_10,Tula_26_10,Не подтвержден,2,2
2,26,2019-01-02,3,08:00:00,08:01:10,08:22:03,00:01:10,00:20:53,00:22:03,Получение документов юридического лица,Tula_26_5,Tula_26_5,Удален,5,5

In [91]:
def TimeToSeconds(time):
    hours, mins, secs = map(lambda x: int(x), time.split(':'))
    return hours*3600+mins*60+secs

In [89]:
# df["Длительность ожидания"] = df["Длительность ожидания"].apply(TimeToSeconds)
# df["Длительность обслуживания"] = df["Длительность обслуживания"].apply(TimeToSeconds)
# df["Длительность нахождения в очереди"] = df["Длительность нахождения в очереди"].apply(TimeToSeconds)

In [90]:
df

,Отделение,Дата,Номер клиента,Время выдачи,Время вызова,Время завершения,Длительность ожидания,Длительность обслуживания,Длительность нахождения в очереди,Услуга,Оператор,Точка обслуживания,Последнее событие,Категория,Категория каждый день
0,26,2019-01-02,1,08:00:00,08:01:49,08:41:46,109,2397,2506,Подача документов физического лица,Tula_26_1,Tula_26_1,Завершен,1,1
1,26,2019-01-02,2,08:00:00,08:00:49,08:02:23,49,154,143,Подача документов юридического лица,Tula_26_10,Tula_26_10,Не подтвержден,2,2
2,26,2019-01-02,3,08:00:00,08:01:10,08:22:03,70,1253,1323,Получение документов юридического лица,Tula_26_5,Tula_26_5,Удален,5,5

In [92]:
def TimeToCategory(time):
    hours = int(time.split(':')[0]) - 8 + 1
    return hours

In [93]:
df["Время выдачи"] = df["Время выдачи"].apply(TimeToCategory)

In [94]:
df

,Отделение,Дата,Номер клиента,Время выдачи,Время вызова,Время завершения,Длительность ожидания,Длительность обслуживания,Длительность нахождения в очереди,Услуга,Оператор,Точка обслуживания,Последнее событие,Категория,Категория каждый день
0,26,2019-01-02,1,1,08:01:49,08:41:46,109,2397,2506,Подача документов физического лица,Tula_26_1,Tula_26_1,Завершен,1,1
1,26,2019-01-02,2,1,08:00:49,08:02:23,49,154,143,Подача документов юридического лица,Tula_26_10,Tula_26_10,Не подтвержден,2,2
2,26,2019-01-02,3,1,08:01:10,08:22:03,70,1253,1323,Получение документов юридического лица,Tula_26_5,Tula_26_5,Удален,5,5

In [95]:
del df["Время вызова"], df["Время завершения"]

In [96]:
df

,Отделение,Дата,Номер клиента,Время выдачи,Длительность ожидания,Длительность обслуживания,Длительность нахождения в очереди,Услуга,Оператор,Точка обслуживания,Последнее событие,Категория,Категория каждый день
0,26,2019-01-02,1,1,109,2397,2506,Подача документов физического лица,Tula_26_1,Tula_26_1,Завершен,1,1
1,26,2019-01-02,2,1,49,154,143,Подача документов юридического лица,Tula_26_10,Tula_26_10,Не подтвержден,2,2
2,26,2019-01-02,3,1,70,1253,1323,Получение документов юридического лица,Tula_26_5,Tula_26_5,Удален,5,5

In [97]:
def ServiceToCategory(title):
    services = ("Подача документов физического лица", "Подача документов юридического лица", "Получение документов юридического лица")
    
    if title not in services:
        print("service = ", title)
    else:
        title = services.index(title)
    
    return title

In [99]:
df["Услуга"] = df["Услуга"].apply(ServiceToCategory)

In [100]:
df

,Отделение,Дата,Номер клиента,Время выдачи,Длительность ожидания,Длительность обслуживания,Длительность нахождения в очереди,Услуга,Оператор,Точка обслуживания,Последнее событие,Категория,Категория каждый день
0,26,2019-01-02,1,1,109,2397,2506,0,Tula_26_1,Tula_26_1,Завершен,1,1
1,26,2019-01-02,2,1,49,154,143,1,Tula_26_10,Tula_26_10,Не подтвержден,2,2
2,26,2019-01-02,3,1,70,1253,1323,2,Tula_26_5,Tula_26_5,Удален,5,5

In [101]:
def OperatorToCategory(oper):
    operators = ("Tula_26_1", "Tula_26_10", "Tula_26_5")
    
    if oper not in operators:
        print("operator = ", oper)
    else:
        oper = operators.index(oper)
        
    return oper

In [103]:
df["Оператор"] = df["Оператор"].apply(OperatorToCategory)

In [104]:
df["Точка обслуживания"] = df["Точка обслуживания"].apply(OperatorToCategory)

In [105]:
df

,Отделение,Дата,Номер клиента,Время выдачи,Длительность ожидания,Длительность обслуживания,Длительность нахождения в очереди,Услуга,Оператор,Точка обслуживания,Последнее событие,Категория,Категория каждый день
0,26,2019-01-02,1,1,109,2397,2506,0,0,0,Завершен,1,1
1,26,2019-01-02,2,1,49,154,143,1,1,1,Не подтвержден,2,2
2,26,2019-01-02,3,1,70,1253,1323,2,2,2,Удален,5,5

In [108]:
def EventToCategory(event):
    events = ("Завершен","Не подтвержден","Удален")
    
    if event not in events:
        print("event = ", event)
    else:
        event = events.index(event)
        
    return event

In [110]:
df["Последнее событие"] = df["Последнее событие"].apply(EventToCategory)

In [111]:
df

,Отделение,Дата,Номер клиента,Время выдачи,Длительность ожидания,Длительность обслуживания,Длительность нахождения в очереди,Услуга,Оператор,Точка обслуживания,Последнее событие,Категория,Категория каждый день
0,26,2019-01-02,1,1,109,2397,2506,0,0,0,0,1,1
1,26,2019-01-02,2,1,49,154,143,1,1,1,1,2,2
2,26,2019-01-02,3,1,70,1253,1323,2,2,2,2,5,5

In [112]:
df.to_csv("Statistic_changed.csv", index = False)

In [113]:
df2 = pd.read_csv("Statistic_changed.csv")