In [1]:
import pandas as pd
import numpy as np
import csv
from utils import *

In [2]:
data = {"Отделение": [26, 26, 26],
        "Дата": ["01 Февраль 2019", "01 Февраль 2019", "01 Февраль 2019"],
        "Номер клиента": [1,2,3],
        "Время выдачи":["08:00:00", "08:00:00", "08:00:00"],
        "Время вызова":["08:01:49", "08:00:49", "08:01:10"],
        "Время завершения":["08:41:46", "08:02:23", "08:22:03"],
        "Длительность ожидания":["00:01:49", "00:00:49", "00:01:10"],
        "Длительность обслуживания":["00:39:57", "00:02:34", "00:20:53"],
        "Длительность нахождения в очереди":["00:41:46", "00:02:23", "00:22:03"],
        "Услуга": ["Подача документов физического лица", "Подача документов юридического лица", "Получение документов юридического лица"],
        "Оператор": ["Tula_26_1","Tula_26_10","Tula_26_5"],
        "Точка обслуживания": ["Tula_26_1","Tula_26_10","Tula_26_5"],
        "Последнее событие": ["Завершен","Не подтвержден", "Удален"],
        "Категория": [1, 2, 5],
        "Категория каждый день": [1, 2, 5]}

In [3]:
df = pd.DataFrame.from_dict(data)

In [4]:
df

,Отделение,Дата,Номер клиента,Время выдачи,Время вызова,Время завершения,Длительность ожидания,Длительность обслуживания,Длительность нахождения в очереди,Услуга,Оператор,Точка обслуживания,Последнее событие,Категория,Категория каждый день
0,26,01 Февраль 2019,1,08:00:00,08:01:49,08:41:46,00:01:49,00:39:57,00:41:46,Подача документов физического лица,Tula_26_1,Tula_26_1,Завершен,1,1
1,26,01 Февраль 2019,2,08:00:00,08:00:49,08:02:23,00:00:49,00:02:34,00:02:23,Подача документов юридического лица,Tula_26_10,Tula_26_10,Не подтвержден,2,2
2,26,01 Февраль 2019,3,08:00:00,08:01:10,08:22:03,00:01:10,00:20:53,00:22:03,Получение документов юридического лица,Tula_26_5,Tula_26_5,Удален,5,5

In [5]:
del  df["Отделение"], df["Номер клиента"], df["Время вызова"], df["Категория"], df["Категория каждый день"],

In [6]:
df["Дата"] = df["Дата"].apply(ChangeDateFormat)

In [7]:
df["Дата"] = pd.to_datetime(df["Дата"])

In [8]:
df

,Дата,Время выдачи,Время завершения,Длительность ожидания,Длительность обслуживания,Длительность нахождения в очереди,Услуга,Оператор,Точка обслуживания,Последнее событие
0,2019-01-02,08:00:00,08:41:46,00:01:49,00:39:57,00:41:46,Подача документов физического лица,Tula_26_1,Tula_26_1,Завершен
1,2019-01-02,08:00:00,08:02:23,00:00:49,00:02:34,00:02:23,Подача документов юридического лица,Tula_26_10,Tula_26_10,Не подтвержден
2,2019-01-02,08:00:00,08:22:03,00:01:10,00:20:53,00:22:03,Получение документов юридического лица,Tula_26_5,Tula_26_5,Удален

In [9]:
TimeToSeconds("01:30:00")

5400

In [10]:
df["Длительность ожидания"] = df["Длительность ожидания"].apply(TimeToSeconds)
df["Длительность обслуживания"] = df["Длительность обслуживания"].apply(TimeToSeconds)
df["Длительность нахождения в очереди"] = df["Длительность нахождения в очереди"].apply(TimeToSeconds)

In [11]:
df

,Дата,Время выдачи,Время завершения,Длительность ожидания,Длительность обслуживания,Длительность нахождения в очереди,Услуга,Оператор,Точка обслуживания,Последнее событие
0,2019-01-02,08:00:00,08:41:46,109,2397,2506,Подача документов физического лица,Tula_26_1,Tula_26_1,Завершен
1,2019-01-02,08:00:00,08:02:23,49,154,143,Подача документов юридического лица,Tula_26_10,Tula_26_10,Не подтвержден
2,2019-01-02,08:00:00,08:22:03,70,1253,1323,Получение документов юридического лица,Tula_26_5,Tula_26_5,Удален

In [12]:
TimeToCategory("19:45:3", (0, 15,0))

48

In [13]:
df["Время выдачи"] = df["Время выдачи"].apply(lambda x: TimeToCategory(x, (0, 15, 0)))

In [14]:
df["Время завершения"] = df["Время завершения"].apply(lambda x: TimeToCategory(x, (0, 15, 0)))

In [15]:
df

,Дата,Время выдачи,Время завершения,Длительность ожидания,Длительность обслуживания,Длительность нахождения в очереди,Услуга,Оператор,Точка обслуживания,Последнее событие
0,2019-01-02,1,3,109,2397,2506,Подача документов физического лица,Tula_26_1,Tula_26_1,Завершен
1,2019-01-02,1,1,49,154,143,Подача документов юридического лица,Tula_26_10,Tula_26_10,Не подтвержден
2,2019-01-02,1,2,70,1253,1323,Получение документов юридического лица,Tula_26_5,Tula_26_5,Удален

In [16]:
df["Услуга"] = df["Услуга"].apply(lambda x: ToCategory(x, tuple(set(df["Услуга"]))))

In [17]:
df

,Дата,Время выдачи,Время завершения,Длительность ожидания,Длительность обслуживания,Длительность нахождения в очереди,Услуга,Оператор,Точка обслуживания,Последнее событие
0,2019-01-02,1,3,109,2397,2506,0,Tula_26_1,Tula_26_1,Завершен
1,2019-01-02,1,1,49,154,143,1,Tula_26_10,Tula_26_10,Не подтвержден
2,2019-01-02,1,2,70,1253,1323,2,Tula_26_5,Tula_26_5,Удален

In [18]:
df["Оператор"] = df["Оператор"].apply(lambda x: ToCategory(x, tuple(set(df["Оператор"]))))

In [19]:
df["Точка обслуживания"] = df["Точка обслуживания"].apply(lambda x: ToCategory(x, tuple(set(df["Точка обслуживания"]))))

In [20]:
df

,Дата,Время выдачи,Время завершения,Длительность ожидания,Длительность обслуживания,Длительность нахождения в очереди,Услуга,Оператор,Точка обслуживания,Последнее событие
0,2019-01-02,1,3,109,2397,2506,0,1,1,Завершен
1,2019-01-02,1,1,49,154,143,1,0,0,Не подтвержден
2,2019-01-02,1,2,70,1253,1323,2,2,2,Удален

In [21]:
df["Последнее событие"] = df["Последнее событие"].apply(lambda x: ToCategory(x, tuple(set(df["Последнее событие"]))))

In [22]:
df

,Дата,Время выдачи,Время завершения,Длительность ожидания,Длительность обслуживания,Длительность нахождения в очереди,Услуга,Оператор,Точка обслуживания,Последнее событие
0,2019-01-02,1,3,109,2397,2506,0,1,1,0
1,2019-01-02,1,1,49,154,143,1,0,0,2
2,2019-01-02,1,2,70,1253,1323,2,2,2,1

In [23]:
df.to_csv("Statistic_changed.csv", index = False)

In [113]:
df2 = pd.read_csv("Statistic_changed.csv")

In [23]:
df2 = pd.DataFrame.from_dict(Augmentation(100, year_start = 2019, servicing = 3000))

In [24]:
df2["Дата"] = pd.to_datetime(df2["Дата"])

In [25]:
df2

,Дата,Время выдачи,Время завершения,Длительность ожидания,Длительность обслуживания,Длительность нахождения в очереди,Услуга,Оператор,Точка обслуживания,Последнее событие
0,2019-11-23,14,15,501,175,676,1,8,5,1
1,2019-05-08,36,37,186,873,1059,0,2,17,3
2,2019-08-04,42,47,1467,1534,3001,2,7,13,2
3,2019-01-01,26,40,1084,160,1244,1,26,0,0
4,2019-08-14,11,36,507,1161,1668,1,12,5,1
5,2019-04-22,25,32,1165,1839,3004,5,8,13,2
6,2019-07-04,1,30,854,808,1662,3,28,10,1
7,2019-01-29,11,28,655,2948,3603,0,11,5,0
8,2019-11-27,41,47,1418,2486,3904,5,7,5,0
9,2019-02-22,42,42,1542,2269,3811,2,7,4,0
10,2019-09-24,44,48,1334,1835,3169,2,25,6,1
11,2019-04-18,40,48,1778,2987,4765,2,29,8,2
12,2019-10-23,33,39,866,45,911,3,3,19,2
13,2019-11-10,6,23,884,541,1425,1,3,12,1
14,2019-07-09,48,48,1630,2226,3856,0,22,7,2
15,2019-11-20,38,47,296,1134,1430,0,28,17,1
16,2019-02-05,1,48,879,971,1850,1,24,3,1
17,2019-07-10,10,24,655,846,1501,3,2,4,2
18,2019-05-19,24,45,321,2530,2851,3,25,16,0
19,2019-08-02,41,46,1691,1804,3495,4,11,13,1
20,2019-04-08,3,5,532,215,747,2,10,11,3
21,2019-06-26,37,47,894,1380,2274,3,22,7,3
22,2019-05-28,21,25,438,716,1154,2,30,9,0
23,2019-04-13,1,33,714,1036,1750,0,19,15,3
24,2019-06-17,20,28,1151,2173,3324,1,14,0,3
25,2019-11-02,30,46,1671,1275,2946,1,7,9,0
26,2019-11-20,39,44,604,88,692,4,18,6,3
27,2019-05-05,43,45,714,1470,2184,4,27,14,1
28,2019-05-20,9,29,211,2687,2898,1,12,11,0
29,2019-04-10,13,26,1182,267,1449,4,8,2,3
...,...,...,...,...,...,...,...,...,...,...
70,2019-06-17,15,47,1251,2141,3392,2,11,11,0
71,2019-06-30,18,20,1644,415,2059,0,5,18,1
72,2019-07-13,18,46,946,861,1807,5,8,12,2
73,2019-04-02,23,35,350,910,1260,0,8,16,1
74,2019-08-14,41,48,1542,1570,3112,2,22,19,3
75,2019-08-27,6,45,506,2154,2660,4,4,11,3
76,2019-03-05,20,24,839,698,1537,3,10,13,3
77,2019-05-25,3,43,1670,690,2360,0,24,12,3
78,2019-05-17,33,40,1545,1558,3103,5,0,13,1
79,2019-01-04,28,48,1236,1667,2903,2,14,3,1
80,2019-07-06,38,47,567,1538,2105,2,25,16,2
81,2019-08-24,18,48,942,1157,2099,2,18,15,1
82,2019-11-12,39,39,1719,2513,4232,0,8,19,2
83,2019-06-06,44,45,1760,2985,4745,5,27,15,0
84,2019-07-09,8,11,591,2172,2763,1,22,12,0
85,2019-04-20,9,14,615,718,1333,4,7,11,3
86,2019-09-11,26,43,130,1863,1993,5,24,4,2
87,2019-01-25,26,32,376,2518,2894,4,24,0,1
88,2019-01-16,48,48,315,2431,2746,2,0,3,3
89,2019-05-19,26,28,1159,2163,3322,3,26,4,2
90,2019-08-14,37,43,29,343,372,3,23,18,1
91,2019-02-07,4,46,136,521,657,5,7,4,2
92,2019-10-19,36,38,252,2795,3047,1,10,4,2
93,2019-03-10,33,38,1575,1225,2800,1,11,18,2
94,2019-09-07,35,35,574,168,742,5,20,19,2
95,2019-11-19,34,36,73,309,382,0,7,2,2
96,2019-04-26,37,37,701,2870,3571,0,30,11,2
97,2019-04-17,39,40,600,259,859,4,21,4,3
98,2019-01-19,20,45,869,1555,2424,1,28,6,1
99,2019-11-13,28,45,1045,464,1509,5,1,13,1

In [26]:
df3 = pd.merge(df, df2, how="outer")

In [27]:
df3

,Дата,Время выдачи,Время завершения,Длительность ожидания,Длительность обслуживания,Длительность нахождения в очереди,Услуга,Оператор,Точка обслуживания,Последнее событие
0,2019-01-02,1,3,109,2397,2506,0,1,1,0
1,2019-01-02,1,1,49,154,143,1,0,0,2
2,2019-01-02,1,2,70,1253,1323,2,2,2,1
3,2019-11-23,14,15,501,175,676,1,8,5,1
4,2019-05-08,36,37,186,873,1059,0,2,17,3
5,2019-08-04,42,47,1467,1534,3001,2,7,13,2
6,2019-01-01,26,40,1084,160,1244,1,26,0,0
7,2019-08-14,11,36,507,1161,1668,1,12,5,1
8,2019-04-22,25,32,1165,1839,3004,5,8,13,2
9,2019-07-04,1,30,854,808,1662,3,28,10,1
10,2019-01-29,11,28,655,2948,3603,0,11,5,0
11,2019-11-27,41,47,1418,2486,3904,5,7,5,0
12,2019-02-22,42,42,1542,2269,3811,2,7,4,0
13,2019-09-24,44,48,1334,1835,3169,2,25,6,1
14,2019-04-18,40,48,1778,2987,4765,2,29,8,2
15,2019-10-23,33,39,866,45,911,3,3,19,2
16,2019-11-10,6,23,884,541,1425,1,3,12,1
17,2019-07-09,48,48,1630,2226,3856,0,22,7,2
18,2019-11-20,38,47,296,1134,1430,0,28,17,1
19,2019-02-05,1,48,879,971,1850,1,24,3,1
20,2019-07-10,10,24,655,846,1501,3,2,4,2
21,2019-05-19,24,45,321,2530,2851,3,25,16,0
22,2019-08-02,41,46,1691,1804,3495,4,11,13,1
23,2019-04-08,3,5,532,215,747,2,10,11,3
24,2019-06-26,37,47,894,1380,2274,3,22,7,3
25,2019-05-28,21,25,438,716,1154,2,30,9,0
26,2019-04-13,1,33,714,1036,1750,0,19,15,3
27,2019-06-17,20,28,1151,2173,3324,1,14,0,3
28,2019-11-02,30,46,1671,1275,2946,1,7,9,0
29,2019-11-20,39,44,604,88,692,4,18,6,3
...,...,...,...,...,...,...,...,...,...,...
73,2019-06-17,15,47,1251,2141,3392,2,11,11,0
74,2019-06-30,18,20,1644,415,2059,0,5,18,1
75,2019-07-13,18,46,946,861,1807,5,8,12,2
76,2019-04-02,23,35,350,910,1260,0,8,16,1
77,2019-08-14,41,48,1542,1570,3112,2,22,19,3
78,2019-08-27,6,45,506,2154,2660,4,4,11,3
79,2019-03-05,20,24,839,698,1537,3,10,13,3
80,2019-05-25,3,43,1670,690,2360,0,24,12,3
81,2019-05-17,33,40,1545,1558,3103,5,0,13,1
82,2019-01-04,28,48,1236,1667,2903,2,14,3,1
83,2019-07-06,38,47,567,1538,2105,2,25,16,2
84,2019-08-24,18,48,942,1157,2099,2,18,15,1
85,2019-11-12,39,39,1719,2513,4232,0,8,19,2
86,2019-06-06,44,45,1760,2985,4745,5,27,15,0
87,2019-07-09,8,11,591,2172,2763,1,22,12,0
88,2019-04-20,9,14,615,718,1333,4,7,11,3
89,2019-09-11,26,43,130,1863,1993,5,24,4,2
90,2019-01-25,26,32,376,2518,2894,4,24,0,1
91,2019-01-16,48,48,315,2431,2746,2,0,3,3
92,2019-05-19,26,28,1159,2163,3322,3,26,4,2
93,2019-08-14,37,43,29,343,372,3,23,18,1
94,2019-02-07,4,46,136,521,657,5,7,4,2
95,2019-10-19,36,38,252,2795,3047,1,10,4,2
96,2019-03-10,33,38,1575,1225,2800,1,11,18,2
97,2019-09-07,35,35,574,168,742,5,20,19,2
98,2019-11-19,34,36,73,309,382,0,7,2,2
99,2019-04-26,37,37,701,2870,3571,0,30,11,2
100,2019-04-17,39,40,600,259,859,4,21,4,3
101,2019-01-19,20,45,869,1555,2424,1,28,6,1
102,2019-11-13,28,45,1045,464,1509,5,1,13,1